<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>huyng.controllers.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>huyng.controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchUserController</servlet-name>
        <servlet-class>huyng.controllers.SearchUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUserController</servlet-name>
        <servlet-class>huyng.controllers.EditUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserController</servlet-name>
        <servlet-class>huyng.controllers.UpdateUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUserController</servlet-name>
        <servlet-class>huyng.controllers.DeleteUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertUserController</servlet-name>
        <servlet-class>huyng.controllers.InsertUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EventMainController</servlet-name>
        <servlet-class>huyng.controllers.EventMainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EventSearchController</servlet-name>
        <servlet-class>huyng.controllers.EventSearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EventEditController</servlet-name>
        <servlet-class>huyng.controllers.EventEditController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EventUpdateController</servlet-name>
        <servlet-class>huyng.controllers.EventUpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EventInsertController</servlet-name>
        <servlet-class>huyng.controllers.EventInsertController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EventDeleteController</servlet-name>
        <servlet-class>huyng.controllers.EventDeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RewardMainController</servlet-name>
        <servlet-class>huyng.controllers.RewardMainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RewardSearchController</servlet-name>
        <servlet-class>huyng.controllers.RewardSearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RewardEditController</servlet-name>
        <servlet-class>huyng.controllers.RewardEditController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RewardUpdateController</servlet-name>
        <servlet-class>huyng.controllers.RewardUpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RewardDeleteController</servlet-name>
        <servlet-class>huyng.controllers.RewardDeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RewardInsertController</servlet-name>
        <servlet-class>huyng.controllers.RewardInsertController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserCreateController</servlet-name>
        <servlet-class>huyng.controllers.UserCreateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>huyng.controllers.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RewardGetAllListId</servlet-name>
        <servlet-class>huyng.controllers.RewardGetAllListId</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LeftMainController</servlet-name>
        <servlet-class>huyng.controllers.LeftMainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LeftLogoutController</servlet-name>
        <servlet-class>huyng.controllers.LeftLogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LeftProfileController</servlet-name>
        <servlet-class>huyng.controllers.LeftProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LeftUpdateProfileController</servlet-name>
        <servlet-class>huyng.controllers.LeftUpdateProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserHomeMainController</servlet-name>
        <servlet-class>huyng.controllers.UserHomeMainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserHomeEventSearchController</servlet-name>
        <servlet-class>huyng.controllers.UserHomeEventSearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserHomeEventEditController</servlet-name>
        <servlet-class>huyng.controllers.UserHomeEventEditController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserHomeJoinEventController</servlet-name>
        <servlet-class>huyng.controllers.UserHomeJoinEventController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserHomeSearchJoinedEventController</servlet-name>
        <servlet-class>huyng.controllers.UserHomeSearchJoinedEventController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserHomeUnJoinJoinedEventController</servlet-name>
        <servlet-class>huyng.controllers.UserHomeUnJoinJoinedEventController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EventGetRewardController</servlet-name>
        <servlet-class>huyng.controllers.EventGetRewardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EventGetAllUserController</servlet-name>
        <servlet-class>huyng.controllers.EventGetAllUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EventDeleteUserController</servlet-name>
        <servlet-class>huyng.controllers.EventDeleteUserController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchUserController</servlet-name>
        <url-pattern>/SearchUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUserController</servlet-name>
        <url-pattern>/EditUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserController</servlet-name>
        <url-pattern>/UpdateUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUserController</servlet-name>
        <url-pattern>/DeleteUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertUserController</servlet-name>
        <url-pattern>/InsertUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EventMainController</servlet-name>
        <url-pattern>/EventMainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EventSearchController</servlet-name>
        <url-pattern>/EventSearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EventEditController</servlet-name>
        <url-pattern>/EventEditController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EventUpdateController</servlet-name>
        <url-pattern>/EventUpdateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EventInsertController</servlet-name>
        <url-pattern>/EventInsertController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EventDeleteController</servlet-name>
        <url-pattern>/EventDeleteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RewardMainController</servlet-name>
        <url-pattern>/RewardMainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RewardSearchController</servlet-name>
        <url-pattern>/RewardSearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RewardEditController</servlet-name>
        <url-pattern>/RewardEditController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RewardUpdateController</servlet-name>
        <url-pattern>/RewardUpdateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RewardDeleteController</servlet-name>
        <url-pattern>/RewardDeleteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RewardInsertController</servlet-name>
        <url-pattern>/RewardInsertController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserCreateController</servlet-name>
        <url-pattern>/UserCreateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RewardGetAllListId</servlet-name>
        <url-pattern>/RewardGetAllListId</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LeftMainController</servlet-name>
        <url-pattern>/LeftMainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LeftLogoutController</servlet-name>
        <url-pattern>/LeftLogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LeftProfileController</servlet-name>
        <url-pattern>/LeftProfileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LeftUpdateProfileController</servlet-name>
        <url-pattern>/LeftUpdateProfileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserHomeMainController</servlet-name>
        <url-pattern>/UserHomeMainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserHomeEventSearchController</servlet-name>
        <url-pattern>/UserHomeEventSearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserHomeEventEditController</servlet-name>
        <url-pattern>/UserHomeEventEditController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserHomeJoinEventController</servlet-name>
        <url-pattern>/UserHomeJoinEventController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserHomeSearchJoinedEventController</servlet-name>
        <url-pattern>/UserHomeSearchJoinedEventController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserHomeUnJoinJoinedEventController</servlet-name>
        <url-pattern>/UserHomeUnJoinJoinedEventController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EventGetRewardController</servlet-name>
        <url-pattern>/EventGetRewardController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EventGetAllUserController</servlet-name>
        <url-pattern>/EventGetAllUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EventDeleteUserController</servlet-name>
        <url-pattern>/EventDeleteUserController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
